<section data-ng-controller="HomeController">
	<div class="row">
  		<div class="col-sm-2 left-panel">
  			<div class="list-group">
          <a class="list-group-item" ng-repeat="gr in groups | filter:searchGr" ng-click="selectGroup(gr)" ng-class="{'active':gr.active}">
                  <span class="badge" ng-hide="gr.unread == 0">{{gr.unread}}</span>
                  <span class="glyphicon glyphicon-th-large" ng-hide="gr.email"></span>
                    <span class="glyphicon glyphicon-user" ng-hide="!gr.email"></span>
                  {{gr.name}}
                </a>
        </div>
  		</div>
  		<div class="col-sm-10 right-panel">
  			<div class="msg-header">{{group.name}}</div>
  			<div class="msg-log">bbb</div>
  			<div class="msg-input">
          <textarea class="chat-area" ng-model="inputMsg" ng-keyup="sendMsg($event);" placeholder="Enter your message here...(Shift-Enter for send)"></textarea>   
        </div>
  		</div>
	</div>
</section>